table {
    background-color: #99CCFF;
}

.spantxt {
    color: black;
}

.border {
    border-style: double;
}

.nav-wrapper {
    background-color: #212121;
}

.myrow {
    background-color: #465760;
    margin-top: 7px;
}


/* img {
    border-radius: 50%;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
} */

body {
    background-color: #424242;
    /* background-image: url(stars.png); */
    background-repeat-y: no-repeat;
    color: #fff;
}

.create_space {
    margin-top: 40px;
}

body * {
    font-family: Helvetica Neue;
}


/*
h1,
h2,
h3,
h4,
h5 {
    font-weight: normal;
    margin: 0;
}

a,
a:hover,
a:visited {
    color: #fff;
    text-decoration: none;
} */