{% extends 'base_layout.html' %} {% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-10 my-4 mx-auto">
            <h2 class="text-center">{{data.game_type}} game at: {{data.date}}</h2>
            <div class="row">
                <div class="col-lg-12">
                    <div class="table-responsve">
                        <table class="table table-striped table-hover">
                            <thead class="thead-inverse">
                                <tr>
                                    <th class="w-25"></th>
                                    <th class="">{{data.player1}}</th>
                                    <th class="">{{data.player2}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="w-25 option">Damage Dealt</td>
                                    <td class="">{{data.p1_damage}}</td>
                                    <td class="">{{data.p2_damage}}</td>

                                </tr>
                                <tr>
                                    <td class="option">K/D/A</td>
                                    <td><i class="fa fa-check"></i>{{data.kda_p1}}</td>
                                    <td><i class="fa fa-check"></i>{{data.kda_p2}}</td>
                                </tr>
                                <tr>
                                    <td class="option">Champions</td>
                                    <td>{{data.champion_name_p1}}</td>
                                    <td>{{data.champion_name_p2}}</td>
                                </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}