{% extends 'base_layout.html' %} {% load static %} {% block content %}


<div class="container">
    <div class="container">
        <div class="center-align create_space">
            <img width="200" src="{% static 'b.png'%}">
        </div>
    </div>

    <div class='create-article'>
        <h2>Find Summoner</h2>
        <form class="site-form" action="{% url 'league:create' %}" method="post">
            {% csrf_token %}
            <input id="your_name" type="text" name="summoner_name" value="">
            <input type="submit" value='Create'>
        </form>

    </div>


</div>



{% endblock %}